body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: #333333;
    margin: 0;
    padding: 0 20px;           
    max-width: 800px;        
    margin-left: auto;
    margin-right: auto;        
    background-color: #ffffff;  
    font-size: 23px;
    font-weight: 300;
    letter-spacing: -.23px;
    line-height: 35px;
}
  
  .menu > li {
    position: relative;
  }
  
  .menu > li > a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .menu > li > a:hover {
    background-color: #f0f0f0;
  }
  
  /* Estilos para submenús */
  .has-submenu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
  }
  
  .has-submenu:hover .submenu {
    display: block;
  }
  
  .submenu li a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .submenu li a:hover {
    background-color: #f0f0f0;
  }
  
  .main-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
    font-family: 'Helvetica', sans-serif;
    color: #333;
  }
  
  .news-title {
    color: #222328;
    font-size: 52px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 25px;
  }
  
  .news-image img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
  }
  
  .news-body p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
  }

.breadcrumb a,  .breadcrumb span {
  background-color: #dd2828;
  border-radius: 10px 5px;
  color: #fff;
  font-family: 'Roboto Condensed';
  font-weight: 700;
  margin-left: 15px;
  padding: 5px 10px;
}

.social-btns {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;              
  gap: 10px;                  
}


.social-btn {
  padding: 6px 12px;
  background-color: #eee;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #333;
  transition: background-color 0.3s;
}

.author-article {
  color: #000000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.news-body-title p{
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 43px;
}


.links {
  color: #dd2828;
}

#main-footer {
    background-color: #212121;
    padding-top: 40px;
}

footer .last-articles ul li a, footer .popular-posts ul li a, footer .widget_recent_entries_custom ul li a {
    color: #fff !important;
    font-size: 17px !important;
    font-weight: 700;
    line-height: 30px;
}

footer .last-articles ul li .artist-name, footer .popular-posts ul li .artist-name {
    color: #dd2828 !important;
    font-size: 15px;
    line-height: 20px;
}